.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: auto;
}

.inputContent {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  max-width: 230px;
  position: relative;
  top: -7px;
}

.inputLogin {
  border-color: lightblue;
  margin-right: 10px;
  height: 24px;
  width: 200px;
  border-radius: 10px;
  outline: none;
}

.inputLogin:active,
.inputLogin:focus {
  border: 2px solid blue;
}
