.App {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E0C9A6;
  padding: 20px;
}


input {
  border-color: lightblue;
  margin-right: 10px;
  height: 24px;
  width: 200px;
  border-radius: 10px;
  outline: none;
}

input:active,
input:focus {
  border: 2px solid blue;
}

label {
  display: inline-block;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 5px;
}