.canvas {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.canvasContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btnSection {
  display: flex;
  justify-content: space-between;
}