.mainContent {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 100%;
  gap: 10px;
  overflow: hidden;
}

.mainContent > div {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}

.chatArea {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid darkgreen;
  background-color: transparent;
  overflow-y: auto;
  max-height: 61vh;

  display: flex;
  flex-direction: column-reverse;
}

.chatInput,
.connectContent {
  margin-bottom: 5px;
}

.connectContent > label {
  margin-right: 5px;
}