.btn {
  background-color: blue;
  color: white;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  height: 32px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: lightblue;
  color: black;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: gray;
  color: white;
}