html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #E0C9A6;
  font-family: sans-serif;
  color: black;
}

video {
  background: black;
  border: 1px solid gray;
  flex-grow: 1;
}

.videoContent {
  display: flex;
  flex-direction: column;
}

.page {
  padding: 20px;
  width: 100%;
  height: 100%;
}

#received {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid darkgreen;
  background-color: transparent;
  overflow-y: auto;
  max-height: 61vh;

  display: flex;
  flex-direction: column-reverse;
}

input {
  border-color: lightblue;
  margin-right: 10px;
  height: 24px;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 2px;
  outline: none;
}

input:active,
input:focus {
  border: 2px solid blue;
}

label {
  display: inline-block;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 5px;
}

button {
  background-color: blue;
  color: white;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  height: 32px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: lightblue;
  color: black;
}

button:disabled {
  cursor: not-allowed;
  background-color: gray;
  color: white;
}

.mainContent {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.mainContent > div {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}
